# <a id='toc1_'></a>[Hackaton Retail](#toc0_)

**Table of contents**<a id='toc0_'></a>    
- [Hackaton Retail](#toc1_)    
  - [Carga de datos y exploración inicial](#toc1_1_)    
    - [Estandarización de nombres de columnas](#toc1_1_1_)    
    - [Análisis y reemplazo de nulos](#toc1_1_2_)    
      - [Imputación de nulos en `customer_id`](#toc1_1_2_1_)    
      - [Imputación de nulos en `description`](#toc1_1_2_2_)    

<!-- vscode-jupyter-toc-config
	numbering=false
	anchor=true
	flat=false
	minLevel=1
	maxLevel=6
	/vscode-jupyter-toc-config -->
<!-- THIS CELL WILL BE REPLACED ON TOC UPDATE. DO NOT WRITE YOUR TEXT IN THIS CELL -->

## <a id='toc1_1_'></a>[Carga de datos y exploración inicial](#toc0_)

In [22]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [23]:
# Primero cargamos los datos y le aclaramos el encoding
df = pd.read_csv('datasets/Online_Retail.csv', encoding= 'unicode_escape')

In [24]:
# Ahora hechemos una mirada a los datos
df.info()
df.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   INVOICE_NO    541909 non-null  object
 1   STOCK_CODE    541909 non-null  object
 2   DESCRIPTION   540455 non-null  object
 3   QUANTITY      541909 non-null  int64
 4   INVOICE_DATE  541909 non-null  object
 5   UNIT_PRICE    541909 non-null  float64
 6   CUSTOMER_ID   406829 non-null  float64
 7   REGION        541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

,INVOICE_NO,STOCK_CODE,DESCRIPTION,QUANTITY,INVOICE_DATE,UNIT_PRICE,CUSTOMER_ID,REGION
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,01/12/2019 08:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,01/12/2019 08:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,01/12/2019 08:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,01/12/2019 08:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,01/12/2019 08:26,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,01/12/2019 08:26,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,01/12/2019 08:26,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,01/12/2019 08:28,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,01/12/2019 08:28,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,01/12/2019 08:34,1.69,13047.0,United Kingdom

In [176]:
# Observemos el comportamiento de las columnas numéricas
df[['QUANTITY','UNIT_PRICE']].describe()

            quantity     unit_price    customer_id
count  536641.000000  536641.000000  401604.000000
mean        9.620029       4.632656   15281.160818
std       219.130156      97.233118    1714.006089
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13939.000000
50%         3.000000       2.080000   15145.000000
75%        10.000000       4.130000   16784.000000
max     80995.000000   38970.000000   18287.000000

In [25]:
# Verifiquemos cuántos duplicados tenemos
df.duplicated().sum()

5268

In [26]:
df.drop_duplicates(inplace=True)

### <a id='toc1_1_1_'></a>[Estandarización de nombres de columnas](#toc0_)

In [175]:
# Primero estandarizemos las columnas
df.columns = df.columns.str.lower()
df.head(15)

,invoice_no,stock_code,description,quantity,invoice_date,unit_price,customer_id,region
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,01/12/2019 08:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,01/12/2019 08:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,01/12/2019 08:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,01/12/2019 08:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,01/12/2019 08:26,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,01/12/2019 08:26,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,01/12/2019 08:26,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,01/12/2019 08:28,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,01/12/2019 08:28,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,01/12/2019 08:34,1.69,13047.0,United Kingdom
10,536367,22745,POPPY'S PLAYHOUSE BEDROOM,6,01/12/2019 08:34,2.10,13047.0,United Kingdom
11,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,01/12/2019 08:34,2.10,13047.0,United Kingdom
12,536367,22749,FELTCRAFT PRINCESS CHARLOTTE DOLL,8,01/12/2019 08:34,3.75,13047.0,United Kingdom
13,536367,22310,IVORY KNITTED MUG COSY,6,01/12/2019 08:34,1.65,13047.0,United Kingdom
14,536367,84969,BOX OF 6 ASSORTED COLOUR TEASPOONS,6,01/12/2019 08:34,4.25,13047.0,United Kingdom

### <a id='toc1_1_2_'></a>[Análisis y reemplazo de nulos](#toc0_)

In [28]:
# Ahora veamos exactamente cuántas filas le faltan a cada columna
pd.concat([(df.isna().mean()*100),(df.isna().sum())],axis=1).rename(columns={0:'%',1:'count'})

                      %   count
invoice_no     0.000000       0
stock_code     0.000000       0
description    0.270945    1454
quantity       0.000000       0
invoice_date   0.000000       0
unit_price     0.000000       0
customer_id   25.163377  135037
region         0.000000       0

#### <a id='toc1_1_2_1_'></a>[Imputación de nulos en `customer_id`](#toc0_)

In [29]:
# Ahora empecemos con la columna que más faltantes tiene
customer_missing = df[df['customer_id'].isna()]

In [30]:
# Veamos para ver si algo nos llama la atención
customer_missing

,invoice_no,stock_code,description,quantity,invoice_date,unit_price,customer_id,region
622,536414,22139,NaN,56,01/12/2019 11:52,0.00,NaN,United Kingdom
1443,536544,21773,DECORATIVE ROSE BATHROOM BOTTLE,1,01/12/2019 14:32,2.51,NaN,United Kingdom
1444,536544,21774,DECORATIVE CATS BATHROOM BOTTLE,2,01/12/2019 14:32,2.51,NaN,United Kingdom
1445,536544,21786,POLKADOT RAIN HAT,4,01/12/2019 14:32,0.85,NaN,United Kingdom
1446,536544,21787,RAIN PONCHO RETROSPOT,2,01/12/2019 14:32,1.66,NaN,United Kingdom
...,...,...,...,...,...,...,...,...
541536,581498,85099B,JUMBO BAG RED RETROSPOT,5,09/12/2020 10:26,4.13,NaN,United Kingdom
541537,581498,85099C,JUMBO BAG BAROQUE BLACK WHITE,4,09/12/2020 10:26,4.13,NaN,United Kingdom
541538,581498,85150,LADIES & GENTLEMEN METAL SIGN,1,09/12/2020 10:26,4.96,NaN,United Kingdom
541539,581498,85174,S/4 CACTI CANDLES,1,09/12/2020 10:26,10.79,NaN,United Kingdom
541540,581498,DOT,DOTCOM POSTAGE,1,09/12/2020 10:26,1714.17,NaN,United Kingdom

Ahora voy a afrontar el problema creando un diccionario que vincule los `invoice_no` con su respectivo `customer_id`.

In [31]:
# Guardamos las filas con customer_id
nanless_customer_id = df.dropna(subset=['customer_id'])

# Agrupo por invoice_no y obtengo una lista de customer_id únicos para cada invoice_no
grouped = nanless_customer_id.groupby('invoice_no')['customer_id'].nunique().reset_index()

# Renombro la columna para mayor claridad
grouped.columns = ['invoice_no', 'num_client_ids']

# Guardo los invoice_no con más de un client_id único
inconsistent = grouped[grouped['num_client_ids'] > 1]

# Veo si hay algúna inconsistencia 
print(f"Invoice_no con más de un client_id único:\n{inconsistent}")

# Creo un mapeo de invoice_no a customer_id (solo donde hay un único customer_id por invoice_no)
mapping = nanless_customer_id.groupby('invoice_no')['customer_id'].apply(lambda x: x.iloc[0]).to_dict()

Invoice_no con más de un client_id único:
Empty DataFrame
Columns: [invoice_no, num_client_ids]
Index: []

In [32]:
# Ahora creo una función para imputar el customer_id en base a invoice_no
def imputar_customer_id(row, mapping):
    if pd.isnull(row['customer_id']):
        return mapping.get(row['invoice_no'], row['customer_id'])
    return row['customer_id']

In [40]:
# Y finalmente verifiquemos si logramos reemplazar algo
print(df['customer_id'].isna().sum())
df.apply(lambda row: imputar_customer_id(row, mapping), axis=1).isna().sum()

135037

135037

Lamentablemente, mi hipótesis estaba errada... Fue un buen intento y de haber funcionado nos habría salvado varias filas. Supongo que ahora solo queda ver si podemos imputar algun valor de `description` que de suerte podemos abordar con una metodología similar.

#### <a id='toc1_1_2_2_'></a>[Imputación de nulos en `description`](#toc0_)

In [41]:
# Veamos cuantos stock_code no tienen descripción 
stock_description = df[['stock_code','description']].drop_duplicates().reset_index(drop=True)
print(f'Cantidad total de filas: {stock_description.shape[0]}')
stock_description.isna().sum()

Cantidad total de filas: 5743

stock_code       0
description    960
dtype: int64

In [42]:
# Guardamos las filas con description
nanless_description = df.dropna(subset=['description'])

# Agrupo por invoice_no y obtengo una lista de description únicos para cada invoice_no
grouped = nanless_customer_id.groupby('stock_code')['description'].nunique().reset_index()

# Renombro la columna para mayor claridad
grouped.columns = ['stock_code', 'num_descriptions']

# Guardo los invoice_no con más de un description único
inconsistent = grouped[grouped['num_descriptions'] > 1]

# Veo si hay algúna inconsistencia 
print(f"stock_codes con más de una descripción única:\n{inconsistent}")

# Creo un mapeo de invoice_no a description (solo donde hay un único description por invoice_no)
mapping = nanless_customer_id.groupby('stock_code')['description'].apply(lambda x: x.iloc[0]).to_dict()

stock_codes con más de una descripción única:
     stock_code  num_descriptions
100      17107D                 3
118       20622                 2
170       20725                 2
262       20914                 2
399       21175                 2
...         ...               ...
3310     85184C                 2
3311     85185B                 2
3374     90014A                 2
3375     90014B                 2
3376     90014C                 2

[204 rows x 2 columns]

Que raro, más de una descripción por stock_code! Veamos de cerca un par casos.

In [43]:
df[df['stock_code'] == '20622']['description'].value_counts()

description
VIPPASSPORT COVER      34
VIP PASSPORT COVER     17
Name: count, dtype: int64

In [44]:
df[df['stock_code'] == '90014A']['description'].value_counts()

description
SILVER/MOP ORBIT NECKLACE       15
SILVER M.O.P. ORBIT NECKLACE     6
check                            1
Name: count, dtype: int64

In [45]:
df[df['stock_code'] == '85184C']['description'].value_counts()

description
S/4 VALENTINE DECOUPAGE HEART BOX      131
SET 4 VALENTINE DECOUPAGE HEART BOX     63
Name: count, dtype: int64

Bueno, al parecer encontramos más de una descripción y parece que el problema (en casi todos los casos) surge por nuestros queridos amigos los **duplicados implícitos**. Si me llama la tención ese `check` pero mi suposición es como es el único con 3 descripciones puede ser un caso aislado.

In [60]:
# Y cuántos check tenemos?
df[df['description'] == 'check']

,invoice_no,stock_code,description,quantity,invoice_date,unit_price,customer_id,region
13217,537425,84968F,check,-20,06/12/2019 15:35,0.0,NaN,United Kingdom
13218,537426,84968E,check,-35,06/12/2019 15:36,0.0,NaN,United Kingdom
108577,545546,84249A,check,-150,03/03/2020 15:03,0.0,NaN,United Kingdom
113580,545990,84598,check,-3000,08/03/2020 13:07,0.0,NaN,United Kingdom
381676,569875,90195A,check,-45,06/10/2020 15:07,0.0,NaN,United Kingdom
...,...,...,...,...,...,...,...,...
535325,581202,23404,check,41,07/12/2020 18:30,0.0,NaN,United Kingdom
535331,581208,72801C,check,-10,07/12/2020 18:35,0.0,NaN,United Kingdom
535333,581210,23395,check,-26,07/12/2020 18:36,0.0,NaN,United Kingdom
535334,581211,22142,check,14,07/12/2020 18:36,0.0,NaN,United Kingdom
535336,581213,22576,check,-30,07/12/2020 18:38,0.0,NaN,United Kingdom

Otra vez la hipótesis fue erronea, al parecer _check_ se encuentra en varios `stock_code` y debe ser la causa de que muchos `stock_code` tengan más de una descripción. Por ahora dejemos ese pensamiento de lado y sigamos imputando `description`.

In [47]:
# Creamos una función parecida a la que usamos antes
def imputar_description(row, mapping):
    if pd.isnull(row['description']):
        return mapping.get(row['stock_code'], row['description'])
    return row['description']

In [48]:
# Y repliquemos lo que hicimos antes
print(df['description'].isna().sum())
df.apply(lambda row: imputar_description(row, mapping), axis=1).isna().sum()

1454

143

## Divagación // TODO

Eliminacion de unit price 0

In [66]:
df_pruebas = df.copy()

In [82]:
df_pruebas = df_pruebas.drop( df_pruebas[df_pruebas['unit_price'] <= 0].index )

In [86]:
df_pruebas

,invoice_no,stock_code,description,quantity,invoice_date,unit_price,customer_id,region
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,01/12/2019 08:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,01/12/2019 08:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,01/12/2019 08:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,01/12/2019 08:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,01/12/2019 08:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,09/12/2020 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,09/12/2020 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,09/12/2020 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,09/12/2020 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,09/12/2020 12:50,4.95,12680.0,France

Eliminacion de quantity 0

In [100]:
df_pruebas = df.copy()

In [101]:
df_pruebas = df_pruebas.drop(df_pruebas[df_pruebas['quantity'] <= 0].index)

In [104]:
100*(df.shape[0]-df_pruebas.shape[0])/df.shape[0]

1.9728272718633126

Viendo invoice_no

In [112]:
df.groupby(["invoice_no"])["unit_price"].sum()

invoice_no
536365      27.37
536366       3.70
536367      58.24
536368      19.10
536369       5.95
            ...
C581484      2.08
C581490      2.78
C581499    224.69
C581568     10.95
C581569      2.50
Name: unit_price, Length: 25900, dtype: float64

In [113]:
df.head(1)

,invoice_no,stock_code,description,quantity,invoice_date,unit_price,customer_id,region
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,01/12/2019 08:26,2.55,17850.0,United Kingdom

In [126]:
df[(df['customer_id'] == 12300)]

Empty DataFrame
Columns: [invoice_no, stock_code, description, quantity, invoice_date, unit_price, customer_id, region]
Index: []

In [114]:
df[df['invoice_no'] == 'C581568']

,invoice_no,stock_code,description,quantity,invoice_date,unit_price,customer_id,region
541715,C581568,21258,VICTORIAN SEWING BOX LARGE,-5,09/12/2020 11:57,10.95,15311.0,United Kingdom

In [163]:
df_filtered = df[(df['invoice_no'].str.contains(r'[a-zA-Z]', na=False))]
df_filtered

,invoice_no,stock_code,description,quantity,invoice_date,unit_price,customer_id,region
141,C536379,D,Discount,-1,01/12/2019 09:41,27.50,14527.0,United Kingdom
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,01/12/2019 09:49,4.65,15311.0,United Kingdom
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,01/12/2019 10:24,1.65,17548.0,United Kingdom
236,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,-24,01/12/2019 10:24,0.29,17548.0,United Kingdom
237,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24,01/12/2019 10:24,0.29,17548.0,United Kingdom
...,...,...,...,...,...,...,...,...
540449,C581490,23144,ZINC T-LIGHT HOLDER STARS SMALL,-11,09/12/2020 09:57,0.83,14397.0,United Kingdom
541541,C581499,M,Manual,-1,09/12/2020 10:28,224.69,15498.0,United Kingdom
541715,C581568,21258,VICTORIAN SEWING BOX LARGE,-5,09/12/2020 11:57,10.95,15311.0,United Kingdom
541716,C581569,84978,HANGING HEART JAR T-LIGHT HOLDER,-1,09/12/2020 11:58,1.25,17315.0,United Kingdom
541717,C581569,20979,36 PENCILS TUBE RED RETROSPOT,-5,09/12/2020 11:58,1.25,17315.0,United Kingdom

In [ ]:
df.groupby(["invoice_no"])["unit_price"].unique()

invoice_no
536365                        [2.55, 3.39, 2.75, 7.65, 4.25]
536366                                                [1.85]
536367     [1.69, 2.1, 3.75, 1.65, 4.25, 4.95, 9.95, 5.95...
536368                                          [4.25, 4.95]
536369                                                [5.95]
                                 ...
C581484                                               [2.08]
C581490                                         [1.95, 0.83]
C581499                                             [224.69]
C581568                                              [10.95]
C581569                                               [1.25]
Name: unit_price, Length: 25900, dtype: object

In [144]:
df[df['stock_code'].str.len() < 5]['stock_code'].value_counts()

stock_code
POST    1256
DOT      710
M        566
C2       144
D         77
S         62
CRUK      16
PADS       4
B          3
m          1
Name: count, dtype: int64

In [174]:
df[df['stock_code'] == 'M']

,invoice_no,stock_code,description,quantity,invoice_date,unit_price,customer_id,region
2239,536569,M,Manual,1,01/12/2019 15:35,1.25,16274.0,United Kingdom
2250,536569,M,Manual,1,01/12/2019 15:35,18.95,16274.0,United Kingdom
5684,536865,M,Manual,1,03/12/2019 11:28,2.55,NaN,United Kingdom
6798,536981,M,Manual,2,03/12/2019 14:26,0.85,14723.0,United Kingdom
7976,537077,M,Manual,12,05/12/2019 11:59,0.42,17062.0,United Kingdom
...,...,...,...,...,...,...,...,...
531432,580956,M,Manual,4,06/12/2020 14:23,1.25,17841.0,United Kingdom
533082,C581009,M,Manual,-1,07/12/2020 09:15,125.00,16971.0,United Kingdom
534308,C581145,M,Manual,-1,07/12/2020 13:48,9.95,17490.0,United Kingdom
538321,581405,M,Manual,3,08/12/2020 13:50,0.42,13521.0,United Kingdom
541541,C581499,M,Manual,-1,09/12/2020 10:28,224.69,15498.0,United Kingdom

In [170]:
df[df['stock_code'] == 'POST'].head(50)

,invoice_no,stock_code,description,quantity,invoice_date,unit_price,customer_id,region
45,536370,POST,POSTAGE,3,01/12/2019 08:45,18.00,12583.0,France
386,536403,POST,POSTAGE,1,01/12/2019 11:27,15.00,12791.0,Netherlands
1123,536527,POST,POSTAGE,1,01/12/2019 13:04,18.00,12662.0,Germany
5073,536840,POST,POSTAGE,1,02/12/2019 18:27,18.00,12738.0,Germany
5258,536852,POST,POSTAGE,1,03/12/2019 09:51,18.00,12686.0,France
5325,536858,POST,POSTAGE,2,03/12/2019 10:36,40.00,13520.0,Switzerland
5369,536861,POST,POSTAGE,3,03/12/2019 10:44,18.00,12427.0,Germany
6602,536967,POST,POSTAGE,1,03/12/2019 12:57,18.00,12600.0,Germany
6676,536974,POST,POSTAGE,2,03/12/2019 13:59,18.00,12682.0,France
6973,536983,POST,POSTAGE,1,03/12/2019 14:30,18.00,12712.0,Germany
7139,536990,POST,POSTAGE,1,03/12/2019 15:14,28.00,12793.0,Portugal
7237,537022,POST,POSTAGE,2,03/12/2019 15:45,28.00,12725.0,Italy
7290,537026,POST,POSTAGE,2,03/12/2019 16:35,18.00,12395.0,Belgium
7953,537065,POST,POSTAGE,9,05/12/2019 11:57,18.00,12567.0,France
9300,537197,POST,POSTAGE,3,05/12/2019 14:02,18.00,12647.0,Germany
9305,537198,POST,POSTAGE,1,05/12/2019 14:03,18.00,12647.0,Germany
9441,537201,POST,POSTAGE,6,05/12/2019 14:19,18.00,12472.0,Germany
9734,537212,POST,POSTAGE,4,05/12/2019 15:21,18.00,12720.0,Germany
11479,537246,POST,POSTAGE,1,06/12/2019 10:27,28.00,12808.0,Portugal
11501,537250,POST,POSTAGE,1,06/12/2019 10:43,18.00,12708.0,Germany
13052,C537414,POST,POSTAGE,-1,06/12/2019 15:09,4.41,16861.0,United Kingdom
14166,537463,POST,POSTAGE,4,07/12/2019 10:08,18.00,12681.0,France
14254,537468,POST,POSTAGE,3,07/12/2019 10:36,18.00,12567.0,France
14472,537594,POST,POSTAGE,5,07/12/2019 12:28,18.00,12647.0,Germany
17046,537673,POST,POSTAGE,7,08/12/2019 09:49,18.00,12709.0,Germany
17290,537693,POST,POSTAGE,1,08/12/2019 10:45,18.00,12441.0,France
18333,537818,POST,POSTAGE,6,08/12/2019 13:53,28.00,12766.0,Portugal
19792,537892,POST,POSTAGE,1,09/12/2019 10:13,18.00,12481.0,Germany
19818,537894,POST,POSTAGE,2,09/12/2019 10:16,18.00,12621.0,Germany
19838,537897,POST,POSTAGE,1,09/12/2019 10:37,18.00,12683.0,France
19911,537915,POST,POSTAGE,1,09/12/2019 10:55,28.00,12797.0,Portugal
19978,537967,POST,POSTAGE,1,09/12/2019 11:31,18.00,12494.0,France
19992,537995,POST,POSTAGE,2,09/12/2019 11:39,18.00,12712.0,Germany
20036,538003,POST,POSTAGE,8,09/12/2019 12:05,18.00,12429.0,Denmark
20094,538008,POST,POSTAGE,5,09/12/2019 12:17,18.00,12683.0,France
21553,538093,POST,POSTAGE,5,09/12/2019 14:49,18.00,12682.0,France
22582,538175,POST,POSTAGE,21,10/12/2019 09:48,18.00,12471.0,Germany
23273,538196,POST,POSTAGE,8,10/12/2019 10:56,18.00,12731.0,France
24049,538311,POST,POSTAGE,2,10/12/2019 13:48,28.00,12785.0,Portugal
27285,538525,POST,POSTAGE,5,13/12/2019 09:39,28.00,12540.0,Spain
29018,538685,POST,POSTAGE,1,14/12/2019 09:39,15.00,15694.0,United Kingdom
32383,C539063,POST,POSTAGE,-1,15/12/2019 16:50,12.34,15107.0,United Kingdom
32402,C539073,POST,POSTAGE,-1,15/12/2019 17:08,3.50,12971.0,United Kingdom
34099,539318,POST,POSTAGE,6,16/12/2019 19:09,40.00,12348.0,Finland
34278,539327,POST,POSTAGE,1,17/12/2019 09:24,18.00,12600.0,Germany
34300,539330,POST,POSTAGE,3,17/12/2019 09:38,40.00,12370.0,Austria
34426,539353,POST,POSTAGE,3,17/12/2019 11:30,28.00,12782.0,Portugal
34471,539391,POST,POSTAGE,2,17/12/2019 11:51,15.00,12417.0,Belgium
34498,539395,POST,POSTAGE,11,17/12/2019 11:52,18.00,12471.0,Germany
34522,539403,POST,POSTAGE,2,17/12/2019 12:21,18.00,12647.0,Germany

In [68]:
# Negativos en quantity // Son devoluciones
df[df['quantity'] <= 0]

,invoice_no,stock_code,description,quantity,invoice_date,unit_price,customer_id,region
141,C536379,D,Discount,-1,01/12/2019 09:41,27.50,14527.0,United Kingdom
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,01/12/2019 09:49,4.65,15311.0,United Kingdom
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,01/12/2019 10:24,1.65,17548.0,United Kingdom
236,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,-24,01/12/2019 10:24,0.29,17548.0,United Kingdom
237,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24,01/12/2019 10:24,0.29,17548.0,United Kingdom
...,...,...,...,...,...,...,...,...
540449,C581490,23144,ZINC T-LIGHT HOLDER STARS SMALL,-11,09/12/2020 09:57,0.83,14397.0,United Kingdom
541541,C581499,M,Manual,-1,09/12/2020 10:28,224.69,15498.0,United Kingdom
541715,C581568,21258,VICTORIAN SEWING BOX LARGE,-5,09/12/2020 11:57,10.95,15311.0,United Kingdom
541716,C581569,84978,HANGING HEART JAR T-LIGHT HOLDER,-1,09/12/2020 11:58,1.25,17315.0,United Kingdom
541717,C581569,20979,36 PENCILS TUBE RED RETROSPOT,-5,09/12/2020 11:58,1.25,17315.0,United Kingdom

# TODO: Eliminar `unit_price` <= 0

In [50]:
# Unit_price Negativo // ELIMINAR
df[df['unit_price'] < 0]

,invoice_no,stock_code,description,quantity,invoice_date,unit_price,customer_id,region
299983,A563186,B,Adjust bad debt,1,12/08/2020 14:51,-11062.06,NaN,United Kingdom
299984,A563187,B,Adjust bad debt,1,12/08/2020 14:52,-11062.06,NaN,United Kingdom

In [121]:
# Unit_price 0 // ELIMINAR (Se eliminan los NaN de description)
df[(df['unit_price'] == 0) & (df['description'].isna())]

,invoice_no,stock_code,description,quantity,invoice_date,unit_price,customer_id,region
622,536414,22139,NaN,56,01/12/2019 11:52,0.0,NaN,United Kingdom
1970,536545,21134,NaN,1,01/12/2019 14:32,0.0,NaN,United Kingdom
1971,536546,22145,NaN,1,01/12/2019 14:33,0.0,NaN,United Kingdom
1972,536547,37509,NaN,1,01/12/2019 14:33,0.0,NaN,United Kingdom
1987,536549,85226A,NaN,1,01/12/2019 14:34,0.0,NaN,United Kingdom
...,...,...,...,...,...,...,...,...
535322,581199,84581,NaN,-2,07/12/2020 18:26,0.0,NaN,United Kingdom
535326,581203,23406,NaN,15,07/12/2020 18:31,0.0,NaN,United Kingdom
535332,581209,21620,NaN,6,07/12/2020 18:35,0.0,NaN,United Kingdom
536981,581234,72817,NaN,27,08/12/2020 10:33,0.0,NaN,United Kingdom
538554,581408,85175,NaN,20,08/12/2020 14:06,0.0,NaN,United Kingdom

In [164]:
# Descripción check
df[(df['description'] == 'check')]

,invoice_no,stock_code,description,quantity,invoice_date,unit_price,customer_id,region
13217,537425,84968F,check,-20,06/12/2019 15:35,0.0,NaN,United Kingdom
13218,537426,84968E,check,-35,06/12/2019 15:36,0.0,NaN,United Kingdom
108577,545546,84249A,check,-150,03/03/2020 15:03,0.0,NaN,United Kingdom
113580,545990,84598,check,-3000,08/03/2020 13:07,0.0,NaN,United Kingdom
381676,569875,90195A,check,-45,06/10/2020 15:07,0.0,NaN,United Kingdom
...,...,...,...,...,...,...,...,...
535325,581202,23404,check,41,07/12/2020 18:30,0.0,NaN,United Kingdom
535331,581208,72801C,check,-10,07/12/2020 18:35,0.0,NaN,United Kingdom
535333,581210,23395,check,-26,07/12/2020 18:36,0.0,NaN,United Kingdom
535334,581211,22142,check,14,07/12/2020 18:36,0.0,NaN,United Kingdom
535336,581213,22576,check,-30,07/12/2020 18:38,0.0,NaN,United Kingdom

In [52]:
# Duplicados implícitos // USAR stock_code
mapping

{'10002': 'INFLATABLE POLITICAL GLOBE ',
 '10080': 'GROOVY CACTUS INFLATABLE',
 '10120': 'DOGGY RUBBER',
 '10123C': 'HEARTS WRAPPING TAPE ',
 '10124A': 'SPOTS ON RED BOOKCOVER TAPE',
 '10124G': 'ARMY CAMO BOOKCOVER TAPE',
 '10125': 'MINI FUNKY DESIGN TAPES',
 '10133': 'COLOURING PENCILS BROWN TUBE',
 '10135': 'COLOURING PENCILS BROWN TUBE',
 '11001': 'ASSTD DESIGN RACING CAR PEN',
 '15030': 'FAN BLACK FRAME ',
 '15034': 'PAPER POCKET TRAVELING FAN ',
 '15036': 'ASSORTED COLOURS SILK FAN',
 '15039': 'SANDALWOOD FAN',
 '15044A': 'PINK PAPER PARASOL ',
 '15044B': 'BLUE PAPER PARASOL ',
 '15044C': 'PURPLE PAPER PARASOL',
 '15044D': 'RED PAPER PARASOL',
 '15056BL': 'EDWARDIAN PARASOL BLACK',
 '15056N': 'EDWARDIAN PARASOL NATURAL',
 '15056P': 'EDWARDIAN PARASOL PINK',
 '15058A': 'BLUE POLKADOT GARDEN PARASOL',
 '15058B': 'PINK POLKADOT GARDEN PARASOL',
 '15058C': 'ICE CREAM DESIGN GARDEN PARASOL',
 '15060B': 'FAIRY CAKE DESIGN UMBRELLA',
 '16008': 'SMALL FOLDING SCISSOR(POINTED EDGE)',
 '16010': 'FOLDING CAMPING SCISSOR W/KNIF & S',
 '16011': 'ANIMAL STICKERS',
 '16012': 'FOOD/DRINK SPONGE STICKERS',
 '16014': 'SMALL CHINESE STYLE SCISSOR',
 '16015': 'MEDIUM CHINESE STYLE SCISSOR',
 '16016': 'LARGE CHINESE STYLE SCISSOR',
 '16020C': 'CLEAR STATIONERY BOX SET ',
 '16033': 'MINI HIGHLIGHTER PENS',
 '16043': 'POP ART PUSH DOWN RUBBER ',
 '16045': 'POPART WOODEN PENCILS ASST',
 '16046': 'TEATIME PEN CASE & PENS',
 '16048': 'TEATIME ROUND PENCIL SHARPENER ',
 '16049': 'TEATIME GEL PENS ASST',
 '16052': 'TEATIME PUSH DOWN RUBBER',
 '16054': 'POPART RECT PENCIL SHARPENER ASST',
 '16151A': 'FLOWERS HANDBAG blue and orange',
 '16156L': 'WRAP CAROUSEL',
 '16156S': 'WRAP PINK FAIRY CAKES ',
 '16161G': 'WRAP BAD HAIR DAY',
 '16161M': 'WRAP  PINK FLOCK',
 '16161P': 'WRAP ENGLISH ROSE ',
 '16161U': 'WRAP SUKI AND FRIENDS',
 '16162L': 'THE KING GIFT BAG',
 '16162M': 'THE KING GIFT BAG 25x24x12cm',
 '16168M': 'FUNKY MONKEY GIFT BAG MEDIUM',
 '16169E': "WRAP 50'S  CHRISTMAS",
 '16169K': 'WRAP FOLK ART',
 '16169M': 'WRAP DAISY CARPET ',
 '16169N': 'WRAP BLUE RUSSIAN FOLKART',
 '16169P': 'WRAP GREEN RUSSIAN FOLKART ',
 '16202A': 'PASTEL PINK PHOTO ALBUM ',
 '16202B': 'PASTEL BLUE PHOTO ALBUM ',
 '16202E': 'BLACK PHOTO ALBUM ',
 '16206B': 'RED PURSE WITH PINK HEART',
 '16207A': 'PINK STRAWBERRY HANDBAG ',
 '16207B': 'PINK HEART RED HANDBAG',
 '16216': 'LETTER SHAPE PENCIL SHARPENER',
 '16218': 'CARTOON  PENCIL SHARPENERS',
 '16219': 'HOUSE SHAPE PENCIL SHARPENER',
 '16225': 'RATTLE SNAKE EGGS',
 '16235': 'RECYCLED PENCIL WITH RABBIT ERASER',
 '16236': 'KITTY PENCIL ERASERS',
 '16237': 'SLEEPING CAT ERASERS',
 '16238': 'PARTY TIME PENCIL ERASERS',
 '16244B': 'MAXWELL 2 TONE BLUE 60 PAGE PHOTO A',
 '16248B': 'BLUE HOLE PUNCH',
 '16254': 'TRANSPARENT ACRYLIC TAPE DISPENSER',
 '16258A': 'SWIRLY CIRCULAR RUBBERS IN BAG',
 '16259': 'PIECE OF CAMO STATIONERY SET',
 '17001': 'HEAVENS SCENT FRAGRANCE OILS ASSTD',
 '17003': 'BROCADE RING PURSE ',
 '17007B': 'S/3 POT POURI CUSHIONS BLUE COLOURS',
 '17011F': 'ORIGAMI SANDLEWOOD INCENSE+FLOWER',
 '17012A': 'ORIGAMI VANILLA INCENSE/CANDLE SET ',
 '17012B': 'ORIGAMI JASMINE INCENSE/CANDLE SET',
 '17012C': 'ORIGAMI LAVENDER INCENSE/CANDL SET ',
 '17012D': 'ORIGAMI ROSE INCENSE/CANDLE SET ',
 '17012E': 'ORIGAMI OPIUM INCENSE/CANDLE SET ',
 '17012F': 'ORIGAMI SANDLEWOOD INCENSE/CAND SET',
 '17013D': 'ORIGAMI ROSE INCENSE IN TUBE',
 '17014A': 'ORIGAMI VANILLA INCENSE CONES',
 '17021': 'NAMASTE SWAGAT INCENSE',
 '17028J': 'INCENSE BAZAAR PEACH',
 '17038': 'PORCELAIN BUDAH INCENSE HOLDER',
 '17084A': 'TRANQUILITY MASALA INCENSE',
 '17084J': 'LOVE POTION MASALA INCENSE',
 '17084N': 'FAIRY DREAMS INCENSE ',
 '17084P': 'DRAGONS BLOOD INCENSE',
 '17084R': 'ASSORTED INCENSE PACK',
 '17090A': 'LAVENDER INCENSE 40 CONES IN TIN',
 '17090D': 'VANILLA INCENSE 40 CONES IN TIN',
 '17091A': 'LAVENDER INCENSE IN TIN',
 '17091J': 'VANILLA INCENSE IN TIN',
 '17096': 'ASSORTED LAQUERED INCENSE HOLDERS',
 '17107D': "FLOWER FAIRY5 SUMMER B'DRAW LINERS",
 '17109D': 'FLOWER FAIRY INCENSE BOUQUET',
 '17129F': 'BLUE GLASS GEMS IN BAG',
 '17136A': 'BLUE STONES ON WIRE FOR CANDLE',
 '17164B': "ASS COL SMALL SAND GECKO P'WEIGHT",
 '17165D': "ASS COL LARGE SAND FROG P'WEIGHT",
 '17174': 'ASSTD RASTA KEY-CHAINS',
 '17191A': 'ROSE FLOWER CANDLE+INCENSE 16X16CM',
 '18007': 'ESSENTIAL BALM 3.5g TIN IN ENVELOPE',
 '18094C': 'WHITE AND BLUE CERAMIC OIL BURNER',
 '18097A': 'PINK TALL PORCELAIN T-LIGHT HOLDER ',
 '18097C': 'WHITE TALL PORCELAIN T-LIGHT HOLDER',
 '18098C': 'PORCELAIN BUTTERFLY OIL BURNER',
 '20615': 'BLUE POLKADOT PASSPORT COVER',
 '20616': 'CHERRY BLOSSOM PASSPORT COVER',
 '20617': 'FIRST CLASS PASSPORT COVER ',
 '20618': 'QUEEN OF THE SKIES PASSPORT COVER ',
 '20619': 'TROPICAL PASSPORT COVER ',
 '20622': 'VIPPASSPORT COVER ',
 '20652': 'BLUE POLKADOT LUGGAGE TAG ',
 '20653': 'CHERRY BLOSSOM LUGGAGE TAG',
 '20654': 'FIRST CLASS LUGGAGE TAG ',
 '20655': 'QUEEN OF SKIES LUGGAGE TAG',
 '20657': 'TROPICAL LUGGAGE TAG',
 '20658': 'RED RETROSPOT LUGGAGE TAG',
 '20659': 'ECONOMY LUGGAGE TAG',
 '20661': 'BLUE POLKADOT PURSE ',
 '20662': 'FIRST CLASS HOLIDAY PURSE ',
 '20663': 'QUEEN OF THE SKIES HOLIDAY PURSE ',
 '20664': 'TROPICAL HOLIDAY PURSE ',
 '20665': 'RED RETROSPOT PURSE ',
 '20666': 'ECONOMY HOLIDAY PURSE',
 '20667': 'CHERRY BLOSSOM PURSE',
 '20668': 'DISCO BALL CHRISTMAS DECORATION',
 '20669': 'RED HEART LUGGAGE TAG',
 '20670': 'VIP HOLIDAY PURSE',
 '20671': 'BLUE TEATIME PRINT BOWL ',
 '20674': 'GREEN POLKADOT BOWL',
 '20675': 'BLUE POLKADOT BOWL',
 '20676': 'RED RETROSPOT BOWL',
 '20677': 'PINK POLKADOT BOWL',
 '20678': 'LARGE BLACK DIAMANTE HAIRSLIDE',
 '20679': 'EDWARDIAN PARASOL RED',
 '20681': 'PINK POLKADOT CHILDRENS UMBRELLA',
 '20682': 'RED RETROSPOT CHILDRENS UMBRELLA',
 '20684': 'STRAWBERRY DREAM CHILDS UMBRELLA',
 '20685': 'DOORMAT RED RETROSPOT',
 '20686': "DOLLY MIXTURE CHILDREN'S UMBRELLA",
 '20694': 'FLORAL PINK MONSTER',
 '20695': 'FLORAL BLUE MONSTER',
 '20696': 'FLORAL SOFT CAR TOY',
 '20697': 'LITTLE GREEN MONSTER SOFT TOY',
 '20698': 'LITTLE PINK MONSTER SOFT TOY',
 '20699': 'MOUSEY LONG LEGS SOFT TOY',
 '20700': 'GREEN CAT FLORAL CUSHION COVER ',
 '20701': 'PINK CAT FLORAL CUSHION COVER ',
 '20702': 'PINK PADDED MOBILE',
 '20703': 'BLUE PADDED SOFT MOBILE',
 '20704': 'MR ROBOT SOFT TOY',
 '20705': 'MRS ROBOT SOFT TOY',
 '20707': 'CRAZY DAISY HEART DECORATION',
 '20711': 'JUMBO BAG TOYS ',
 '20712': 'JUMBO BAG WOODLAND ANIMALS',
 '20713': 'JUMBO BAG OWLS',
 '20716': 'PARTY FOOD SHOPPER BAG',
 '20717': 'STRAWBERRY SHOPPER BAG',
 '20718': 'RED RETROSPOT SHOPPER BAG',
 '20719': 'WOODLAND CHARLOTTE BAG',
 '20723': 'STRAWBERRY CHARLOTTE BAG',
 '20724': 'RED RETROSPOT CHARLOTTE BAG',
 '20725': 'LUNCH BAG RED RETROSPOT',
 '20726': 'LUNCH BAG WOODLAND',
 '20727': 'LUNCH BAG  BLACK SKULL.',
 '20728': 'LUNCH BAG CARS BLUE',
 '20731': 'POSY CANDY BAG',
 '20733': 'GOLD MINI TAPE MEASURE ',
 '20735': 'BLACK MINI TAPE MEASURE ',
 '20748': 'KENSINGTON COFFEE SET',
 '20749': 'ASSORTED COLOUR MINI CASES',
 '20750': 'RED RETROSPOT MINI CASES',
 '20751': 'FUNKY WASHING UP GLOVES ASSORTED',
 '20752': 'BLUE POLKADOT WASHING UP GLOVES',
 '20754': 'RETROSPOT RED WASHING UP GLOVES',
 '20755': 'BLUE PAISLEY POCKET BOOK',
 '20756': 'GREEN FERN POCKET BOOK',
 '20757': 'RED DAISY POCKET BOOK ',
 '20758': 'ABSTRACT CIRCLES POCKET BOOK',
 '20759': 'CHRYSANTHEMUM POCKET BOOK ',
 '20760': 'GARDEN PATH POCKET BOOK',
 '20761': 'BLUE PAISLEY SKETCHBOOK',
 '20762': 'GREEN FERN SKETCHBOOK ',
 '20763': 'DAISY SKETCHBOOK ',
 '20764': 'ABSTRACT CIRCLES SKETCHBOOK ',
 '20765': 'CHRYSANTHEMUM SKETCHBOOK ',
 '20766': 'GARDEN PATH SKETCHBOOK',
 '20767': 'BLUE PAISLEY JOURNAL ',
 '20768': 'GREEN FERN JOURNAL ',
 '20769': 'DAISY JOURNAL ',
 '20770': 'ABSTRACT CIRCLE JOURNAL ',
 '20771': 'CHRYSANTHEMUM  JOURNAL',
 '20772': 'GARDEN PATH JOURNAL',
 '20773': 'BLUE PAISLEY NOTEBOOK',
 '20774': 'GREEN FERN NOTEBOOK',
 '20775': 'DAISY NOTEBOOK ',
 '20777': 'CHRYSANTHEMUM NOTEBOOK',
 '20778': 'GARDEN PATH NOTEBOOK ',
 '20780': 'BLACK EAR MUFF HEADPHONES',
 '20781': 'GOLD EAR MUFF HEADPHONES',
 '20782': 'CAMOUFLAGE EAR MUFF HEADPHONES',
 '20785': 'FUSCHIA RETRO BAR STOOL',
 '20793': 'BLUE TILED TRAY',
 '20794': 'BLUE  TILE HOOK',
 '20795': 'LARGE BLUE PROVENCAL CERAMIC BALL',
 '20796': 'SMALL BLUE PROVENCAL CERAMIC BALL',
 '20798': 'CLEAR MILKSHAKE GLASS',
 '20801': 'LARGE PINK GLASS SUNDAE DISH',
 '20802': 'SMALL GLASS SUNDAE DISH CLEAR',
 '20803': 'SMALL PINK GLASS SUNDAE DISH',
 '20816': 'GOLD FLOWER CUSHION COVER ',
 '20818': 'GOLD TEDDY BEAR',
 '20819': 'SILVER TEDDY BEAR',
 '20820': 'SILVER LOOKING MIRROR',
 '20821': 'GOLDIE LOOKING MIRROR',
 '20823': 'GOLD WINE GOBLET',
 '20826': 'SILVER APERITIF GLASS',
 '20827': 'GOLD APERITIF GLASS',
 '20828': 'GLITTER BUTTERFLY CLIPS',
 '20829': 'GLITTER HANGING BUTTERFLY STRING',
 '20830': 'SILVER PHOTO FRAME',
 '20831': 'GOLD PHOTO FRAME',
 '20832': 'RED FLOCK LOVE HEART PHOTO FRAME',
 '20835': 'FRENCH LATTICE CUSHION COVER ',
 '20836': 'FRENCH PAISLEY CUSHION COVER',
 '20837': 'FRENCH FLORAL CUSHION COVER ',
 '20838': 'FRENCH LATTICE CUSHION COVER ',
 '20839': 'FRENCH PAISLEY CUSHION COVER ',
 '20840': 'FRENCH FLORAL CUSHION COVER ',
 '20845': 'ZINC HEART LATTICE 2 WALL PLANTER',
 '20846': 'ZINC HEART LATTICE T-LIGHT HOLDER',
 '20847': 'ZINC HEART LATTICE CHARGER LARGE',
 '20848': 'ZINC HEART LATTICE CHARGER SMALL',
 '20851': 'ZINC HEART LATTICE TRAY OVAL ',
 '20854': 'BLUE PATCH PURSE PINK HEART',
 '20856': 'DENIM PATCH PURSE PINK BUTTERFLY',
 '20857': 'BLUE ROSE PATCH PURSE PINK BUTTERFL',
 '20861': 'GOLD COSMETIC BAG PINK STAR',
 '20866': 'BLUE ROSE FABRIC MIRROR',
 '20867': 'PINK ROSE FABRIC MIRROR',
 '20868': 'SILVER FABRIC MIRROR',
 '20869': 'GOLD FABRIC MIRROR',
 '20878': 'SET/9 CHRISTMAS T-LIGHTS SCENTED ',
 '20886': 'BOX OF 9 PEBBLE CANDLES',
 '20892': 'SET/3 TALL GLASS CANDLE HOLDER PINK',
 '20893': 'HANGING BAUBLE T-LIGHT HOLDER SMALL',
 '20894': 'HANGING BAUBLE T-LIGHT HOLDER LARGE',
 '20897': 'VINTAGE NOTEBOOK PARIS DAYS',
 '20898': 'VINTAGE NOTEBOOK TRAVELOGUE',
 '20901': 'VINTAGE KEEPSAKE BOX PINK FLOWER',
 '20902': 'VINTAGE KEEPSAKE BOX PARIS DAYS',
 '20903': 'VINTAGE KEEPSAKE BOX TRAVELOGUE',
 '20906': 'VINTAGE NOTEBOOK BEAUTY GIRL',
 '20910': 'VINTAGE PHOTO ALBUM PARIS DAYS',
 '20914': 'SET/5 RED RETROSPOT LID GLASS BOWLS',
 '20931': 'BLUE POT PLANT CANDLE ',
 '20932': 'PINK POT PLANT CANDLE',
 '20933': 'YELLOW POT PLANT CANDLE',
 '20934': 'SET/3 POT PLANT CANDLES',
 '20935': 'ROUND CACTUS CANDLE',
 '20936': 'FORKED CACTUS CANDLE',
 '20941': 'FROG CANDLE',
 '20956': 'PORCELAIN T-LIGHT HOLDERS ASSORTED',
 '20957': 'PORCELAIN HANGING BELL SMALL',
 '20961': 'STRAWBERRY BATH SPONGE ',
 '20963': 'APPLE BATH SPONGE',
 '20964': 'POLYESTER FILLER PAD 60x40cm',
 '20966': 'SANDWICH BATH SPONGE',
 '20967': 'GREY FLORAL FELTCRAFT SHOULDER BAG',
 '20969': 'RED FLORAL FELTCRAFT SHOULDER BAG',
 '20970': 'PINK FLORAL FELTCRAFT SHOULDER BAG',
 '20971': 'PINK BLUE FELT CRAFT TRINKET BOX',
 '20972': 'PINK CREAM FELT CRAFT TRINKET BOX ',
 '20973': '12 PENCIL SMALL TUBE WOODLAND',
 '20974': '12 PENCILS SMALL TUBE SKULL',
 '20975': '12 PENCILS SMALL TUBE RED RETROSPOT',
 '20977': '36 PENCILS TUBE WOODLAND',
 '20978': '36 PENCILS TUBE SKULLS',
 '20979': '36 PENCILS TUBE RED RETROSPOT',
 '20980': '36 PENCILS TUBE POSY',
 '20981': '12 PENCILS TALL TUBE WOODLAND',
 '20982': '12 PENCILS TALL TUBE SKULLS',
 '20983': '12 PENCILS TALL TUBE RED RETROSPOT',
 '20984': '12 PENCILS TALL TUBE POSY',
 '20985': 'HEART CALCULATOR',
 '20986': 'BLUE CALCULATOR RULER',
 '20992': 'JAZZ HEARTS PURSE NOTEBOOK',
 '20996': 'JAZZ HEARTS ADDRESS BOOK',
 '20997': 'ROSE DU SUD CUSHION COVER ',
 '20998': 'ROSE DU SUD OVEN GLOVE',
 '21000': 'ROSE DU SUD COSMETICS BAG',
 '21001': 'ROSE DU SUD WASHBAG ',
 '21002': 'ROSE DU SUD DRAWSTRING BAG',
 '21003': 'ROSE DU SUD CUSHION COVER',
 '21011': 'GLITTER SNOW PEAR TREE DECORATION',
 '21012': 'ANTIQUE ALL GLASS CANDLESTICK',
 '21014': 'SWISS CHALET TREE DECORATION ',
 '21015': 'DARK BIRD HOUSE TREE DECORATION',
 '21018': 'BIRD BOX CHRISTMAS TREE DECORATION',
 '21025': 'SPACE FROG',
 '21026': 'SPACE OWL',
 '21027': 'NINJA RABBIT PINK',
 '21028': 'NINJA RABBIT BLACK',
 '21030': 'SPACE CADET RED',
 '21031': 'SPACE CADET BLACK',
 '21032': 'SPACE CADET WHITE',
 '21033': 'JUMBO BAG CHARLIE AND LOLA TOYS',
 '21034': 'REX CASH+CARRY JUMBO SHOPPER',
 '21035': 'SET/2 RED RETROSPOT TEA TOWELS ',
 '21038': 'SET/4 MODERN VINTAGE COTTON NAPKINS',
 '21039': 'RED RETROSPOT SHOPPING BAG',
 '21040': 'MODERN VINTAGE COTTON SHOPPING BAG',
 '21041': 'RED RETROSPOT OVEN GLOVE DOUBLE',
 '21042': 'RED RETROSPOT APRON ',
 '21043': 'APRON MODERN VINTAGE COTTON',
 '21051': 'RIBBONS PURSE ',
 '21054': "NURSE'S BAG SOFT TOY",
 '21055': 'TOOL BOX SOFT TOY ',
 '21056': "DOCTOR'S BAG SOFT TOY",
 '21058': 'PARTY INVITES WOODLAND',
 '21059': 'PARTY INVITES DINOSAURS',
 '21060': 'PARTY INVITES BALLOON GIRL',
 '21061': 'PARTY INVITES FOOTBALL',
 '21062': 'PARTY INVITES SPACEMAN',
 '21063': 'PARTY INVITES JAZZ HEARTS',
 '21064': 'BOOM BOX SPEAKER BOYS',
 '21065': 'BOOM BOX SPEAKER GIRLS',
 '21066': 'VINTAGE RED MUG',
 '21067': 'VINTAGE RED TEATIME MUG',
 '21068': 'VINTAGE BILLBOARD LOVE/HATE MUG',
 '21069': 'VINTAGE BILLBOARD TEA MUG',
 '21070': 'VINTAGE BILLBOARD MUG ',
 '21071': 'VINTAGE BILLBOARD DRINK ME MUG',
 '21078': 'SET/20 STRAWBERRY PAPER NAPKINS ',
 '21080': 'SET/20 RED RETROSPOT PAPER NAPKINS ',
 '21084': 'SET/6 COLLAGE PAPER CUPS',
 '21086': 'SET/6 RED SPOTTY PAPER CUPS',
 '21087': 'SET/6 POSIES PAPER CUPS',
 '21088': 'SET/6 FRUIT SALAD PAPER CUPS',
 '21089': 'SET/6 GREEN SPRING PAPER CUPS',
 '21090': 'SET/6 COLLAGE PAPER PLATES',
 '21094': 'SET/6 RED SPOTTY PAPER PLATES',
 '21095': 'SET/6 POSIES PAPER PLATES',
 '21096': 'SET/6 FRUIT SALAD  PAPER PLATES',
 '21098': 'CHRISTMAS TOILET ROLL',
 '21100': 'CHARLIE AND LOLA CHARLOTTE BAG',
 '21106': 'CREAM SLICE FLANNEL CHOCOLATE SPOT ',
 '21107': 'CREAM SLICE FLANNEL PINK SPOT ',
 '21108': 'FAIRY CAKE FLANNEL ASSORTED COLOUR',
 '21109': 'LARGE CAKE TOWEL CHOCOLATE SPOTS',
 '21110': 'LARGE CAKE TOWEL PINK SPOTS',
 '21111': 'SWISS ROLL TOWEL CHOCOLATE  SPOTS',
 '21112': 'SWISS ROLL TOWEL PINK  SPOTS',
 '21114': 'LAVENDER SCENTED FABRIC HEART',
 '21115': 'ROSE CARAVAN DOORSTOP',
 '21116': 'OWL DOORSTOP',
 '21117': 'BLOND DOLL DOORSTOP',
 '21121': 'SET/10 RED POLKADOT PARTY CANDLES',
 '21122': 'SET/10 PINK POLKADOT PARTY CANDLES',
 '21123': 'SET/10 IVORY POLKADOT PARTY CANDLES',
 '21124': 'SET/10 BLUE POLKADOT PARTY CANDLES',
 '21125': 'SET 6 FOOTBALL CELEBRATION CANDLES',
 '21126': 'SET OF 6 GIRLS CELEBRATION CANDLES',
 '21128': 'GOLD FISHING GNOME',
 '21129': 'SILVER FISHING GNOME ',
 '21131': 'GOLD STANDING GNOME',
 '21132': 'SILVER STANDING GNOME   ',
 '21135': 'VICTORIAN  METAL POSTCARD SPRING',
 '21136': 'PAINTED METAL PEARS ASSORTED',
 '21137': 'BLACK RECORD COVER FRAME',
 '21143': 'ANTIQUE GLASS HEART DECORATION ',
 '21144': 'PINK POODLE HANGING DECORATION ',
 '21145': 'ANTIQUE GLASS PLACE SETTING',
 '21147': 'JINGLE BELLS TREE DECORATION',
 '21154': 'RED RETROSPOT OVEN GLOVE ',
 '21155': 'RED RETROSPOT PEG BAG',
 '21156': 'RETROSPOT CHILDRENS APRON',
 '21157': 'RED RETROSPOT WASHBAG',
 '21158': 'MOODY GIRL DOOR HANGER ',
 '21159': 'MOODY BOY  DOOR HANGER ',
 '21161': 'KEEP OUT BOYS DOOR HANGER ',
 '21162': 'TOXIC AREA  DOOR HANGER ',
 '21163': 'DO NOT TOUCH MY STUFF DOOR HANGER ',
 '21164': 'HOME SWEET HOME METAL SIGN ',
 '21165': 'BEWARE OF THE CAT METAL SIGN ',
 '21166': 'COOK WITH WINE METAL SIGN ',
 '21167': 'WHITE SAGE INCENSE',
 '21169': "YOU'RE CONFUSING ME METAL SIGN ",
 '21171': 'BATHROOM METAL SIGN ',
 '21172': 'PARTY METAL SIGN ',
 '21174': 'POTTERING IN THE SHED METAL SIGN',
 '21175': 'GIN + TONIC DIET METAL SIGN',
 '21179': 'NO JUNK MAIL METAL SIGN',
 '21181': 'PLEASE ONE PERSON METAL SIGN',
 '21187': 'WHITE BELL HONEYCOMB PAPER GARLAND ',
 '21188': '3D HEARTS  HONEYCOMB PAPER GARLAND',
 '21189': 'WHITE HONEYCOMB PAPER GARLAND ',
 '21190': 'PINK HEARTS PAPER GARLAND',
 '21191': 'LARGE WHITE HONEYCOMB PAPER BELL  ',
 '21192': 'WHITE BELL HONEYCOMB PAPER ',
 '21194': 'PINK  HONEYCOMB PAPER FAN',
 '21195': 'PINK  HONEYCOMB PAPER BALL ',
 '21196': 'ROUND WHITE CONFETTI IN TUBE',
 '21197': 'MULTICOLOUR  CONFETTI IN TUBE',
 '21198': 'WHITE HEART CONFETTI IN TUBE',
 '21199': 'PINK  HEART CONFETTI IN TUBE',
 '21200': 'MULTICOLOUR HONEYCOMB PAPER GARLAND',
 '21201': 'TROPICAL  HONEYCOMB PAPER GARLAND ',
 '21202': 'DOLLY HONEYCOMB GARLAND',
 '21204': 'DAISIES  HONEYCOMB GARLAND ',
 '21205': 'MULTICOLOUR 3D BALLS GARLAND',
 '21206': 'STRAWBERRY HONEYCOMB  GARLAND ',
 '21207': 'SKULL AND CROSSBONES  GARLAND ',
 '21208': 'PASTEL COLOUR HONEYCOMB FAN',
 '21209': 'MULTICOLOUR HONEYCOMB FAN',
 '21210': 'SET OF 72 RETROSPOT PAPER  DOILIES',
 '21211': 'SET OF 72 SKULL PAPER  DOILIES',
 '21212': 'PACK OF 72 RETROSPOT CAKE CASES',
 '21213': 'PACK OF 72 SKULL CAKE CASES',
 '21215': 'IVORY PAPER CUP CAKE CASES ',
 '21216': 'SET 3 RETROSPOT TEACOFFEESUGAR',
 '21217': 'RED RETROSPOT ROUND CAKE TINS',
 '21218': 'RED SPOTTY BISCUIT TIN',
 '21219': 'SET/4 BADGES BALLOON GIRL',
 '21220': 'SET/4 BADGES DOGS',
 '21221': 'SET/4 BADGES CUTE CREATURES',
 '21222': 'SET/4 BADGES BEETLES',
 '21224': 'SET/4 SKULL BADGES',
 '21226': 'POCKET MIRROR WOODLAND',
 '21228': 'POCKET MIRROR "GLAMOROUS"',
 '21231': 'SWEETHEART CERAMIC TRINKET BOX',
 '21232': 'STRAWBERRY CERAMIC TRINKET BOX',
 '21238': 'RED RETROSPOT CUP',
 '21239': 'PINK  POLKADOT CUP',
 '21240': 'BLUE POLKADOT CUP',
 '21242': 'RED RETROSPOT PLATE ',
 '21243': 'PINK  POLKADOT PLATE ',
 '21244': 'BLUE POLKADOT PLATE ',
 '21245': 'GREEN POLKADOT PLATE ',
 '21246': 'RED RETROSPOT BIG BOWL',
 '21248': 'DOOR HANGER  MUM + DADS ROOM',
 '21249': 'WOODLAND  HEIGHT CHART STICKERS ',
 '21250': 'SET OF SKULL WALL STICKERS',
 '21251': 'DINOSAUR HEIGHT CHART STICKER SET',
 '21253': 'SET OF PICTURE FRAME  STICKERS',
 '21257': 'VICTORIAN SEWING BOX MEDIUM',
 '21258': 'VICTORIAN SEWING BOX LARGE',
 '21259': 'VICTORIAN SEWING BOX SMALL ',
 '21260': 'FIRST AID TIN',
 '21261': 'GREEN GOOSE FEATHER CHRISTMAS TREE ',
 '21262': 'WHITE GOOSE FEATHER CHRISTMAS TREE ',
 '21263': 'GREEN GOOSE FEATHER TREE 60CM',
 '21264': 'WHITE GOOSE FEATHER TREE 60CM ',
 '21265': 'PINK GOOSE FEATHER TREE 60CM',
 '21268': 'VINTAGE BLUE TINSEL REEL',
 '21269': 'ANTIQUE CREAM CUTLERY SHELF ',
 '21270': 'ANTIQUE CREAM CUTLERY CUPBOARD',
 '21272': 'SALLE DE BAIN HOOK',
 '21275': 'ZINC TOP  2 DOOR WOODEN SHELF ',
 '21277': 'FRENCH STYLE EMBOSSED HEART CABINET',
 '21278': 'VINTAGE KITCHEN PRINT PUDDINGS',
 '21279': 'VINTAGE KITCHEN PRINT FRUITS',
 '21280': 'VINTAGE KITCHEN PRINT VEGETABLES',
 '21281': 'VINTAGE KITCHEN PRINT SEAFOOD',
 '21284': 'RETROSPOT CANDLE  SMALL',
 '21285': 'RETROSPOT CANDLE  MEDIUM',
 '21286': 'RETROSPOT CANDLE  LARGE',
 '21287': 'SCENTED VELVET LOUNGE CANDLE ',
 '21288': 'STRIPEY CHOCOLATE NESTING BOXES',
 '21289': 'LARGE STRIPES CHOCOLATE GIFT BAG',
 '21291': 'SMALL POLKADOT CHOCOLATE GIFT BAG ',
 '21292': 'SMALL STRIPES CHOCOLATE GIFT BAG ',
 '21293': 'MIRRORED DOVE WALL DECORATION',
 '21294': 'ETCHED GLASS COASTER',
 '21306': 'SET/4 DAISY MIRROR MAGNETS',
 '21307': 'SET/4 BUTTERFLY MIRROR MAGNETS',
 '21310': 'CAPIZ CHANDELIER',
 '21311': 'SET/4 BIRD MIRROR MAGNETS ',
 '21313': 'GLASS HEART T-LIGHT HOLDER ',
 '21314': 'SMALL GLASS HEART TRINKET POT',
 '21316': 'SMALL CHUNKY GLASS ROMAN  BOWL',
 '21317': 'GLASS SPHERE CANDLE STAND MEDIUM',
 '21318': 'GLASS CHALICE BLUE SMALL ',
 '21319': 'GLASS CHALICE GREEN  SMALL ',
 '21320': 'GLASS CHALICE GREEN  LARGE ',
 '21324': 'HANGING MEDINA LANTERN SMALL',
 '21326': 'AGED GLASS SILVER T-LIGHT HOLDER',
 '21327': 'SKULLS WRITING SET ',
 '21328': 'BALLOONS  WRITING SET ',
 '21329': 'DINOSAURS  WRITING SET ',
 '21331': 'MOROCCAN BEATEN METAL DISH LARGE',
 '21332': 'MOROCCAN BEATEN METAL MIRROR',
 '21333': 'CLASSIC WHITE FRAME',
 '21336': 'GOLD WASHBAG',
 '21340': 'CLASSIC METAL BIRDCAGE PLANT HOLDER',

In [169]:
df.dropna().shape[0] - df.shape[0]

-135037